*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.idea
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
var/
src/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
etc/nginx
.vagrant
*.retry
.directory

lib
lib64
include
.Python
pip-selfcheck.json
eggs
